Final submission 29 12 2022/15_20127625_20127172_20127456.json
[
    {
        "id": "de30d2341968d3c3",
        "type": "tab",
        "label": "ĐỒ ÁN CUỐI KỲ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd4cde2a3c6cfe68",
        "type": "mqtt in",
        "z": "de30d2341968d3c3",
        "name": "",
        "topic": "sys/led",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a9c0f7eb7370ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "d74c170f1ca36a85"
            ]
        ]
    },
    {
        "id": "d74c170f1ca36a85",
        "type": "ui_text",
        "z": "de30d2341968d3c3",
        "group": "6ba3fae66bb96083",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tình trạng đèn: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 360,
        "y": 180,
        "wires": []
    },
    {
        "id": "16c51c4aefdc1d55",
        "type": "mqtt in",
        "z": "de30d2341968d3c3",
        "name": "",
        "topic": "sys/photo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a9c0f7eb7370ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "064267b4e50640c8"
            ]
        ]
    },
    {
        "id": "064267b4e50640c8",
        "type": "ui_text",
        "z": "de30d2341968d3c3",
        "group": "6ba3fae66bb96083",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Giá trị ánh sáng: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 360,
        "y": 240,
        "wires": []
    },
    {
        "id": "4fe567e8d3d8d3fb",
        "type": "mqtt in",
        "z": "de30d2341968d3c3",
        "name": "",
        "topic": "sys/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a9c0f7eb7370ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "cf8a26da69e788d1"
            ]
        ]
    },
    {
        "id": "26cd9f3f435c662a",
        "type": "ui_text",
        "z": "de30d2341968d3c3",
        "group": "6ba3fae66bb96083",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nhiệt độ môi trường (độ C): ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "a9a0dcf5e1bd59f3",
        "type": "inject",
        "z": "de30d2341968d3c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.01",
        "crontab": "",
        "once": false,
        "onceDelay": "0.01",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "b902d98eb6081957"
            ]
        ]
    },
    {
        "id": "b902d98eb6081957",
        "type": "ui_clock",
        "z": "de30d2341968d3c3",
        "name": "Đồng hồ kim",
        "group": "6ba3fae66bb96083",
        "order": 1,
        "width": 0,
        "height": 0,
        "x": 370,
        "y": 500,
        "wires": []
    },
    {
        "id": "d435ea271bf90225",
        "type": "ui_digital_clock",
        "z": "de30d2341968d3c3",
        "name": "Đồng hồ số",
        "group": "6ba3fae66bb96083",
        "order": 3,
        "width": 0,
        "height": 0,
        "x": 370,
        "y": 540,
        "wires": []
    },
    {
        "id": "e9df73cb94d98a58",
        "type": "inject",
        "z": "de30d2341968d3c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.01",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "d435ea271bf90225"
            ]
        ]
    },
    {
        "id": "033dc0ce7db456e3",
        "type": "mqtt out",
        "z": "de30d2341968d3c3",
        "name": "",
        "topic": "sys/state",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a9c0f7eb7370ab01",
        "x": 1220,
        "y": 160,
        "wires": []
    },
    {
        "id": "40e09a88f32113ce",
        "type": "ui_switch",
        "z": "de30d2341968d3c3",
        "name": "",
        "label": "Bật đèn",
        "tooltip": "",
        "group": "307cea03277ce136",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 940,
        "y": 220,
        "wires": [
            [
                "260235ea5db0cf8a"
            ]
        ],
        "info": "Bật đèn thủ công (dùng nút bấm trên node red UI)"
    },
    {
        "id": "260235ea5db0cf8a",
        "type": "mqtt out",
        "z": "de30d2341968d3c3",
        "name": "",
        "topic": "sys/ledOn",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a9c0f7eb7370ab01",
        "x": 1140,
        "y": 220,
        "wires": []
    },
    {
        "id": "1bdf24899788f1d9",
        "type": "http request",
        "z": "de30d2341968d3c3",
        "name": "http request IFTTT",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maker.ifttt.com/trigger/ledState/with/key/d9YG7N74J1vfpesMf4KBy?value1={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1190,
        "y": 500,
        "wires": [
            []
        ],
        "info": "Thông báo trạng thái đèn đến người dùng"
    },
    {
        "id": "565b65a7ab871418",
        "type": "comment",
        "z": "de30d2341968d3c3",
        "name": "",
        "info": "Thông báo đến người dùng bằng IFTTT và lưu trữ dữ liệu lên cloud",
        "x": 700,
        "y": 460,
        "wires": []
    },
    {
        "id": "0aefd5f3e4525787",
        "type": "mqtt in",
        "z": "de30d2341968d3c3",
        "name": "",
        "topic": "ifttt/led",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a9c0f7eb7370ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 690,
        "y": 500,
        "wires": [
            [
                "1bdf24899788f1d9",
                "1106a71940c60b5f"
            ]
        ],
        "info": "Nhận thông báo ifttt từ wokwi"
    },
    {
        "id": "fd40fc6c3da2d925",
        "type": "mqtt in",
        "z": "de30d2341968d3c3",
        "name": "",
        "topic": "ifttt/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a9c0f7eb7370ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 680,
        "wires": [
            [
                "3a3181741dc849d0"
            ]
        ],
        "info": "Nhận cảnh báo nhiệt độ ifttt từ wokwi"
    },
    {
        "id": "3a3181741dc849d0",
        "type": "http request",
        "z": "de30d2341968d3c3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maker.ifttt.com/trigger/temperature/with/key/d9YG7N74J1vfpesMf4KBy?value1={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "b5cf71d3bbcaf2ca",
        "type": "ui_switch",
        "z": "de30d2341968d3c3",
        "name": "",
        "label": "Thông báo từ IFTTT",
        "tooltip": "",
        "group": "307cea03277ce136",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 980,
        "y": 280,
        "wires": [
            [
                "91c06ac715119676"
            ]
        ]
    },
    {
        "id": "91c06ac715119676",
        "type": "mqtt out",
        "z": "de30d2341968d3c3",
        "name": "",
        "topic": "sys/notifi",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a9c0f7eb7370ab01",
        "x": 1180,
        "y": 280,
        "wires": []
    },
    {
        "id": "5621be9f355c02b8",
        "type": "comment",
        "z": "de30d2341968d3c3",
        "name": "",
        "info": "Hiển thị thời gian thực lên UI",
        "x": 120,
        "y": 460,
        "wires": []
    },
    {
        "id": "7a6db8ab3f045f84",
        "type": "comment",
        "z": "de30d2341968d3c3",
        "name": "",
        "info": "Hiển thị dữ liệu từ Wokwi lên UI",
        "x": 120,
        "y": 140,
        "wires": []
    },
    {
        "id": "c978b38fbcdda12b",
        "type": "comment",
        "z": "de30d2341968d3c3",
        "name": "",
        "info": "Điều khiển hệ thống bằng UI",
        "x": 940,
        "y": 120,
        "wires": []
    },
    {
        "id": "cf8a26da69e788d1",
        "type": "function",
        "z": "de30d2341968d3c3",
        "name": "Lưu trữ nhiệt độ (flow set)",
        "func": "flow.set(\"temperature\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 300,
        "wires": [
            [
                "26cd9f3f435c662a"
            ]
        ],
        "info": "Lưu trữ nhiệt độ vào biến temperature (dùng flow.set(\"temperature\"), msg.payload) để lưu trữ lên cloud trong trường hợp cần thiết"
    },
    {
        "id": "62edaf95f39ef7b6",
        "type": "http request",
        "z": "de30d2341968d3c3",
        "name": "http request cloud (ledState, temperature)",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1260,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "1106a71940c60b5f",
        "type": "function",
        "z": "de30d2341968d3c3",
        "name": "Nhận dữ liệu và đưa vào URL",
        "func": "const data = [];\nif(msg.payload == \"On\")\n{\n    data.push(1);\n}\nelse if(msg.payload ==\"Off\")\n{\n    data.push(0);\n}\ndata.push(flow.get(\"temperature\"));\n\n\n// URL for http request GET; data[0]=ledState, data[1]=temperature\nmsg.url = \"https://api.thingspeak.com/update?api_key=9YEVZ1MEMPYA8AJ2&field1=\" + data[0] + \"&field2=\" + data[1]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 600,
        "wires": [
            [
                "62edaf95f39ef7b6"
            ]
        ]
    },
    {
        "id": "a4bb6f98b112ba1e",
        "type": "ui_dropdown",
        "z": "de30d2341968d3c3",
        "name": "",
        "label": "Chức năng",
        "tooltip": "",
        "place": "Lựa chọn",
        "group": "307cea03277ce136",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Ánh sáng",
                "value": "photoresistor",
                "type": "str"
            },
            {
                "label": "Chuyển động",
                "value": "PIR",
                "type": "str"
            },
            {
                "label": "Thủ công",
                "value": "manual",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 950,
        "y": 160,
        "wires": [
            [
                "033dc0ce7db456e3"
            ]
        ]
    },
    {
        "id": "e23717efc2d546c2",
        "type": "ui_spacer",
        "z": "de30d2341968d3c3",
        "name": "spacer",
        "group": "6ba3fae66bb96083",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "a9c0f7eb7370ab01",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6ba3fae66bb96083",
        "type": "ui_group",
        "name": "IOT_project",
        "tab": "188d4bd94c3b460e",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "307cea03277ce136",
        "type": "ui_group",
        "name": "Chế độ hệ thống",
        "tab": "188d4bd94c3b460e",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "188d4bd94c3b460e",
        "type": "ui_tab",
        "name": "Home_IOT final report",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]