flows.json
[
    {
        "id": "6ae1903bca2e70b5",
        "type": "tab",
        "label": "ĐỒ ÁN CUỐI KỲ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4dbcad16f3c1fbc1",
        "type": "mqtt in",
        "z": "6ae1903bca2e70b5",
        "name": "",
        "topic": "sys/led",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cee8dae977ee2b17",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "e507c82e9676b275",
                "ba1d03db5c533f40"
            ]
        ]
    },
    {
        "id": "e507c82e9676b275",
        "type": "ui_text",
        "z": "6ae1903bca2e70b5",
        "group": "6b83820ba5d32f51",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tình trạng đèn: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 360,
        "y": 140,
        "wires": []
    },
    {
        "id": "5b585ed2a44094f8",
        "type": "mqtt in",
        "z": "6ae1903bca2e70b5",
        "name": "",
        "topic": "sys/photo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cee8dae977ee2b17",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "300b0098cbefa71b"
            ]
        ]
    },
    {
        "id": "300b0098cbefa71b",
        "type": "ui_text",
        "z": "6ae1903bca2e70b5",
        "group": "6b83820ba5d32f51",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Giá trị ánh sáng: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 280,
        "y": 280,
        "wires": []
    },
    {
        "id": "144eddad8f643ce6",
        "type": "mqtt in",
        "z": "6ae1903bca2e70b5",
        "name": "",
        "topic": "sys/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cee8dae977ee2b17",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 420,
        "wires": [
            [
                "ca63405f03450356",
                "e25ebe281386faca"
            ]
        ]
    },
    {
        "id": "ca63405f03450356",
        "type": "ui_text",
        "z": "6ae1903bca2e70b5",
        "group": "6b83820ba5d32f51",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nhiệt độ môi trường( độ C ): ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 460,
        "y": 420,
        "wires": []
    },
    {
        "id": "ed7c06bc045c7bc2",
        "type": "inject",
        "z": "6ae1903bca2e70b5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.01",
        "crontab": "",
        "once": false,
        "onceDelay": "0.01",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "bafb97b584f83b3f"
            ]
        ]
    },
    {
        "id": "bafb97b584f83b3f",
        "type": "ui_clock",
        "z": "6ae1903bca2e70b5",
        "name": "Đồng hồ kim",
        "group": "6b83820ba5d32f51",
        "order": 1,
        "width": 0,
        "height": 0,
        "x": 390,
        "y": 560,
        "wires": []
    },
    {
        "id": "2b3808e3cf79c5f2",
        "type": "ui_digital_clock",
        "z": "6ae1903bca2e70b5",
        "name": "Đồng hồ số",
        "group": "6b83820ba5d32f51",
        "order": 2,
        "width": 0,
        "height": 0,
        "x": 390,
        "y": 620,
        "wires": []
    },
    {
        "id": "51f16c715bac07fa",
        "type": "inject",
        "z": "6ae1903bca2e70b5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.01",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "2b3808e3cf79c5f2"
            ]
        ]
    },
    {
        "id": "ba1d03db5c533f40",
        "type": "http request",
        "z": "6ae1903bca2e70b5",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=A9445H1N3HIV23ES&field1={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e25ebe281386faca",
        "type": "http request",
        "z": "6ae1903bca2e70b5",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=A9445H1N3HIV23ES&field2={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "cee8dae977ee2b17",
        "type": "mqtt-broker",
        "name": "server",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6b83820ba5d32f51",
        "type": "ui_group",
        "name": "Project - IOT",
        "tab": "a17c19b356e00363",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a17c19b356e00363",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]