flows.json
[
    {
        "id": "25468b318c45aab3",
        "type": "tab",
        "label": "ĐỒ ÁN CUỐI KỲ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ebc1119edc797041",
        "type": "mqtt in",
        "z": "25468b318c45aab3",
        "name": "",
        "topic": "sys/led",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a9c0f7eb7370ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "318f7348d1c6b2ad"
            ]
        ]
    },
    {
        "id": "318f7348d1c6b2ad",
        "type": "ui_text",
        "z": "25468b318c45aab3",
        "group": "6b83820ba5d32f51",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tình trạng đèn: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 360,
        "y": 180,
        "wires": []
    },
    {
        "id": "1238f9ce16fe3178",
        "type": "mqtt in",
        "z": "25468b318c45aab3",
        "name": "",
        "topic": "sys/photo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a9c0f7eb7370ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "3e5d01ddb1533557"
            ]
        ]
    },
    {
        "id": "3e5d01ddb1533557",
        "type": "ui_text",
        "z": "25468b318c45aab3",
        "group": "6b83820ba5d32f51",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Giá trị ánh sáng: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 360,
        "y": 240,
        "wires": []
    },
    {
        "id": "abf78e3c865564ee",
        "type": "mqtt in",
        "z": "25468b318c45aab3",
        "name": "",
        "topic": "sys/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a9c0f7eb7370ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "18891f3e12515497"
            ]
        ]
    },
    {
        "id": "fc8e8aac0e5b8856",
        "type": "ui_text",
        "z": "25468b318c45aab3",
        "group": "6b83820ba5d32f51",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nhiệt độ môi trường (độ C): ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "66cce5d21e81e298",
        "type": "inject",
        "z": "25468b318c45aab3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.01",
        "crontab": "",
        "once": false,
        "onceDelay": "0.01",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "4f0f2746fde2f499"
            ]
        ]
    },
    {
        "id": "4f0f2746fde2f499",
        "type": "ui_clock",
        "z": "25468b318c45aab3",
        "name": "Đồng hồ kim",
        "group": "6b83820ba5d32f51",
        "order": 1,
        "width": 0,
        "height": 0,
        "x": 370,
        "y": 500,
        "wires": []
    },
    {
        "id": "899a30aaf5cebbdd",
        "type": "ui_digital_clock",
        "z": "25468b318c45aab3",
        "name": "Đồng hồ số",
        "group": "6b83820ba5d32f51",
        "order": 2,
        "width": 0,
        "height": 0,
        "x": 370,
        "y": 540,
        "wires": []
    },
    {
        "id": "b09f98ed2391fb6d",
        "type": "inject",
        "z": "25468b318c45aab3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.01",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "899a30aaf5cebbdd"
            ]
        ]
    },
    {
        "id": "03329b03f89c83c1",
        "type": "mqtt out",
        "z": "25468b318c45aab3",
        "name": "",
        "topic": "sys/state",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a9c0f7eb7370ab01",
        "x": 1220,
        "y": 160,
        "wires": []
    },
    {
        "id": "0fd6b9cf65c2369c",
        "type": "ui_switch",
        "z": "25468b318c45aab3",
        "name": "",
        "label": "Bật đèn",
        "tooltip": "",
        "group": "0ad979918f759bad",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 940,
        "y": 220,
        "wires": [
            [
                "6745de678225294a"
            ]
        ],
        "info": "Bật đèn thủ công (dùng nút bấm trên node red UI)"
    },
    {
        "id": "6745de678225294a",
        "type": "mqtt out",
        "z": "25468b318c45aab3",
        "name": "",
        "topic": "sys/ledOn",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a9c0f7eb7370ab01",
        "x": 1140,
        "y": 220,
        "wires": []
    },
    {
        "id": "6a19b4cd3608876c",
        "type": "http request",
        "z": "25468b318c45aab3",
        "name": "http request IFTTT",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maker.ifttt.com/trigger/ledState/with/key/d9YG7N74J1vfpesMf4KBy?value1={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1190,
        "y": 500,
        "wires": [
            []
        ],
        "info": "Thông báo trạng thái đèn đến người dùng"
    },
    {
        "id": "01c7fbd174e7e6ea",
        "type": "comment",
        "z": "25468b318c45aab3",
        "name": "",
        "info": "Thông báo đến người dùng bằng IFTTT và lưu trữ dữ liệu lên cloud",
        "x": 700,
        "y": 460,
        "wires": []
    },
    {
        "id": "d3f6ea4b119d3de7",
        "type": "mqtt in",
        "z": "25468b318c45aab3",
        "name": "",
        "topic": "ifttt/led",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a9c0f7eb7370ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 690,
        "y": 500,
        "wires": [
            [
                "6a19b4cd3608876c",
                "60705699b145105a"
            ]
        ],
        "info": "Nhận thông báo ifttt từ wokwi"
    },
    {
        "id": "068ce9a9a216cf71",
        "type": "mqtt in",
        "z": "25468b318c45aab3",
        "name": "",
        "topic": "ifttt/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a9c0f7eb7370ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 680,
        "wires": [
            [
                "27fff6f1ab1aec24"
            ]
        ],
        "info": "Nhận cảnh báo nhiệt độ ifttt từ wokwi"
    },
    {
        "id": "27fff6f1ab1aec24",
        "type": "http request",
        "z": "25468b318c45aab3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maker.ifttt.com/trigger/temperature/with/key/d9YG7N74J1vfpesMf4KBy?value1={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "c79995509cde48c5",
        "type": "ui_switch",
        "z": "25468b318c45aab3",
        "name": "",
        "label": "Thông báo từ IFTTT",
        "tooltip": "",
        "group": "0ad979918f759bad",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 980,
        "y": 280,
        "wires": [
            [
                "29416a7510021b20"
            ]
        ]
    },
    {
        "id": "29416a7510021b20",
        "type": "mqtt out",
        "z": "25468b318c45aab3",
        "name": "",
        "topic": "sys/notifi",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a9c0f7eb7370ab01",
        "x": 1180,
        "y": 280,
        "wires": []
    },
    {
        "id": "9fedfda3298338af",
        "type": "comment",
        "z": "25468b318c45aab3",
        "name": "",
        "info": "Hiển thị thời gian thực lên UI",
        "x": 120,
        "y": 460,
        "wires": []
    },
    {
        "id": "052908bbe550ca80",
        "type": "comment",
        "z": "25468b318c45aab3",
        "name": "",
        "info": "Hiển thị dữ liệu từ Wokwi lên UI",
        "x": 120,
        "y": 140,
        "wires": []
    },
    {
        "id": "6564d43a8c88a5c5",
        "type": "comment",
        "z": "25468b318c45aab3",
        "name": "",
        "info": "Điều khiển hệ thống bằng UI",
        "x": 940,
        "y": 120,
        "wires": []
    },
    {
        "id": "18891f3e12515497",
        "type": "function",
        "z": "25468b318c45aab3",
        "name": "Lưu trữ nhiệt độ (flow set)",
        "func": "flow.set(\"temperature\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 300,
        "wires": [
            [
                "fc8e8aac0e5b8856"
            ]
        ],
        "info": "Lưu trữ nhiệt độ vào biến temperature (dùng flow.set(\"temperature\"), msg.payload) để lưu trữ lên cloud trong trường hợp cần thiết"
    },
    {
        "id": "259b044bab9cedd8",
        "type": "http request",
        "z": "25468b318c45aab3",
        "name": "http request cloud (ledState, temperature)",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1260,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "60705699b145105a",
        "type": "function",
        "z": "25468b318c45aab3",
        "name": "Nhận dữ liệu và đưa vào URL",
        "func": "const data = [];\nif(msg.payload == \"On\")\n{\n    data.push(1);\n}\nelse if(msg.payload ==\"Off\")\n{\n    data.push(0);\n}\ndata.push(flow.get(\"temperature\"));\n\n\n// URL for http request GET; data[0]=ledState, data[1]=temperature\nmsg.url = \"https://api.thingspeak.com/update?api_key=9YEVZ1MEMPYA8AJ2&field1=\" + data[0] + \"&field2=\" + data[1]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 600,
        "wires": [
            [
                "259b044bab9cedd8"
            ]
        ]
    },
    {
        "id": "a932746dee14e996",
        "type": "ui_dropdown",
        "z": "25468b318c45aab3",
        "name": "",
        "label": "Chức năng",
        "tooltip": "",
        "place": "Lựa chọn",
        "group": "0ad979918f759bad",
        "order": 3,
        "width": "6",
        "height": "2",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Ánh sáng",
                "value": "photoresistor",
                "type": "str"
            },
            {
                "label": "Chuyển động",
                "value": "PIR",
                "type": "str"
            },
            {
                "label": "Thủ công",
                "value": "manual",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 950,
        "y": 160,
        "wires": [
            [
                "03329b03f89c83c1"
            ]
        ]
    },
    {
        "id": "a9c0f7eb7370ab01",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6b83820ba5d32f51",
        "type": "ui_group",
        "name": "IOT_project",
        "tab": "e6086867a1fb966c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0ad979918f759bad",
        "type": "ui_group",
        "name": "Chế độ hệ thống",
        "tab": "e6086867a1fb966c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e6086867a1fb966c",
        "type": "ui_tab",
        "name": "Home_IOT final report",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]